{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": -28.8166236,
    "longitude": 24.991639,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Africa/Johannesburg",
    "external_url": null,
    "internal_url": null,
    "currency": "ZAR",
    "country": "ZA",
    "language": "en-GB",
    "radius": 100
  }
}